* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*Importar una fuente de google*/
  background: #C5CF6D;
  background: linear-gradient(25deg, rgba(197, 207, 109, 1) 0%, rgba(119, 109, 207, 1) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.todo-app {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
}

h1 {
  font-size: 2rem;
}

.stat-container {
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.details {
  width: 100%;
}

.details h3 {
  color:#fff;
}

#progressbar {
  width: 100%;
  height: 7px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  position: relative;
  margin-top: 15px;
}

#progress {
  width: 50%;
  height: 100%;
  background: #ff6f91; /*cambiar*/
  border-radius: 20px;
  transition: width 0.3s ease;
}

#numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: rosybrown; /*cambiar*/
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-weight: bold;
  border-radius: 50%;
  font-size: 1.5rem;
}

.input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-area input {
  flex: 1;
  padding: 10px 17px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 22px;
  background-color: #fff;
  color: #333;
}

.input-area input::placeholder {
  color: #bcbcbc;
}

.input-area button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 8px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.1rem;
  background: rgba(255, 194, 209, 0.3); /*sujeto a cambios*/
  border: 2px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: all 0.2s ease;
}

.input-area button:hover {
  transform: scale(1.1);
  background: #ff6f91; /*cambior*/
}

.todos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 120px;
}

#empty-message {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
  margin-top: 20px;
}

#task-list {
  width: 100%;
}

#task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 30px;
  color: #fff;
  position: relative;
  transition: box-shadow 0.2s ease;
} 

#task-list li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tasl-list li .checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

#task-list li span {
  flex: 1;
  margin-left: 10px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

#task-list li.completed {
  background: #b2ffb2;
  color: #333;
  opacity: 0.7;
  transition: background 0.3s, color 0.3s, opacity 0.3s;
}

#task-list li.completed span {
  text-decoration: 2px line-through #000;
  color: #333;
}

.task-buttons {
  display: flex;
  gap: 10px;
  margin: auto;
}

.task-buttons button {
  background: rgba(255, 194, 209, 0.3);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-buttons button:hover {
  transform: scale(1.2);
}

.task-buttons .edit-btn {
  background: #ffbf00;
}

.task-buttons .delete-btn {
  background: #ff6f91;
}

/* media Queries */
@media (max-width: 600px) {
  .container {
    padding: 0 10px;
    margin: 0 20px;
  }

  .todo-app {
    padding: 1.5rem;
    gap: 20px;
  }

  .input-area input {
    font-size: 1rem;
  }

  #numbers {
    width: 60px;
    height: 60px;
    font-size: 1rem;
  }

  #task-list li {
    font-size: 1rem; }
}